*{
    margin: 0;
    padding: 0.3rem;
}
body{
    
    background-image: url(https://preview.redd.it/i4i4iskatr5d1.png?width=1080&crop=smart&auto=webp&s=c856d92b617c2ec3da19e99dda813abfccc0e964);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;

}